.content {
  background-image: repeating-linear-gradient(-30deg, #c9fcff, #d4fdff 2%);
  font-family: "Fredoka One", sans-serif;
  border-bottom: 8px solid #b3fbff;
  border-top: 8px solid #b3fbff;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
}

h1 {
  color: #990073;
  position: relative;
  animation: swing .2s 1.3s ease-in forwards;
  opacity: 0;
  filter: blur(13px);
  transform: rotate(-10deg);
  transform-origin: left center;
  left: -.14em;
}

p {
  position: relative;
  color: #c09;
  opacity: 0;
  animation: swing .2s 1.3s ease-in forwards;
  filter: blur(13px);
  transform: rotate(-7deg);
  transform-origin: left center;
  left: -.14em;
  max-width: 19em;
}

.btn-ghost {
  color: #c09;
  border: 3px solid #990073;
  border-radius: 6px;
  animation: swing .2s 1.3s ease-in forwards;
  opacity: 0;
  filter: blur(13px);
  transform-origin: left center;
  left: -.14em;
  position: relative;
}

.btn-ghost:hover {
  color: #c09;
  background-color: #b3fbff;
  border: 3px solid #990073;
}

@keyframes swing {

  0% {
    filter: blur(10px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    opacity: 1;
  }

}

.icecream {
  min-height: 485px;
}

.layer {
  height: 190px;
  width: 180px;
  left: 30%;
  bottom: 100%;
  transform: translateX(-50%);
}

.cone {
  animation: cone-layer .3s linear 1 forwards;
}

.mint {
  animation: mint-layer .6s linear 1 forwards;
}

.chocolate {
  animation: chocolate-layer .75s linear 1 forwards;
  z-index: 1;
}

.vanilla {
  animation: vanilla-layer 1s linear 1 forwards;
  z-index: 2;
}

.cherry {
  animation: cherry-layer 1.3s linear 1 forwards;
  z-index: 999;
}

@keyframes cherry-layer {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 350px;
  }

}

@keyframes vanilla-layer {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 270px;
  }

}

@keyframes chocolate-layer {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 192px;
  }

}

@keyframes mint-layer {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 100px;
  }

}

@keyframes cone-layer {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 0;
  }

}
